@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
  text-align: center;

  background-color: #86DEB7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%235ecc70' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2336aa58' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234acc58' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2335a350' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2335cd3d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23349c49' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%232bc32a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23339542' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%232bb722' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23318f3c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232baa1b' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23308836' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
  
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  color: black;
}

.back-to-top{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: white;
  color: var(--ocean-green);
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}