:root{
    --middle-blue-green: #adeee3ff;
    --medium-aquamarine: #86deb7ff;
    --medium-aquamarine-2: #85e4b9;
    --ocean-green: #63b995ff;
    --fern-green: #50723cff;
    --olive-drab-7: #423e28ff;
    --dark-green: #2b7352;
    --main-text: black;
    --secondary-text: rgb(49, 49, 49);
}